.counter-box{
    font-size: 16px;
    text-align: center;
    margin:10px 0;
}
button{
    background: #669;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    outline: none;
    flex: 1;
    margin:10px 10px;
}