.nav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    li{
        flex: 1;
        line-height: 42px;
        background: #369;
        a{
            color:#fff;
            font-size: 14px;
            display: block;
            text-align: center;
            &:hover{
                background:#fff;
                color: #369;
                text-decoration: none;
            }
        }
    }
}